@model S2Please.Areas.ADMIN.ViewModel.OrderSaveViewModel
@using SHOP.COMMON;
@using S2Please.Helper;
@using S2Please.ViewModel;
@{
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
    var timeVersion = FunctionHelpers.GetTimeVersion();
}

<title>@FunctionHelpers.GetValueLanguage("Order.AddOrder")</title>

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12"> <h3 class="title-5 m-b-35">@FunctionHelpers.GetValueLanguage("Order.AddOrder")</h3></div>
            <div class="col-md-12">
                <form id="form-order">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="card-headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        @FunctionHelpers.GetValueLanguage("OrderDetail.Customer")
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <div class="row form-group">
                                        <div class="col col-md-6">
                                            @Html.Partial("~/Areas/ADMIN/Views/Template/Form/_Input.cshtml", new InputModel() { Type = "text", Id = "FULL_NAME", Class = "", Name = "model.FULL_NAME", LabelName = "Cart.FullName", Value = Model.Customer.FULL_NAME, IsRequied = true })
                                        </div>
                                        <div class="col col-md-6">
                                            @Html.Partial("~/Areas/ADMIN/Views/Template/Form/_Input.cshtml", new InputModel() { Type = "text", Id = "EMAIL", Class = "", Name = "model.EMAIL", LabelName = "OrderDetail.Email", Value = Model.Customer.EMAIL, IsRequied = true, Style = "" })
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-6">
                                            @Html.Partial("~/Areas/ADMIN/Views/Template/Form/_InputMask.cshtml", new InputModel() { Type = "text", Id = "PHONE", Class = "", Name = "model.PHONE", LabelName = "OrderDetail.Email", Value = Model.Customer.PHONE, IsRequied = true, Style = "", TypeInputMask = "numeric" })
                                        </div>
                                        <div class="col col-md-6">
                                            @Html.Partial("~/Areas/ADMIN/Views/Template/Form/_InputMask.cshtml", new InputModel() { Type = "text", Id = "FAX", Class = "", Name = "model.FAX", LabelName = "OrderDetail.Fax", Value = Model.Customer.FAX, IsRequied = false, Style = "", TypeInputMask = "numeric" })
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-6">
                                            @Html.Partial("~/Areas/ADMIN/Views/Template/Form/_Select.cshtml", new SelectModel() { Id = "CITY", Name = "model.CITY", Datas = Model.Citys, LabelName = "Cart.City", IsRequied = true, Value = Model.Customer.CITY.ToString(), FieldId = "CODE", FieldName = "NAME_VN", IsShowTitle = true })
                                        </div>
                                        <div class="col col-md-6" id="select2-district">

                                            @Html.Partial("~/Areas/ADMIN/Views/Template/Form/_Select.cshtml", new SelectModel() { Id = "DISTRICT", Name = "model.DISTRICT", Datas = new List<dynamic>(), LabelName = "Cart.District", IsRequied = true, Value = Model.Customer.DISTRICT.ToString(), FieldId = "CODE", FieldName = "NAME_VN", IsShowTitle = true })
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-6" id="select2-community">
                                            @Html.Partial("~/Areas/ADMIN/Views/Template/Form/_Select.cshtml", new SelectModel() { Id = "COMMUNITY", Name = "model.COMMUNITY", Datas = new List<dynamic>(), LabelName = "Cart.Community", IsRequied = true, Value = Model.Customer.COMMUNITY.ToString(), FieldId = "ID", FieldName = "NAME_VN", IsShowTitle = true })
                                        </div>
                                        <div class="col col-md-6">
                                            @Html.Partial("~/Areas/ADMIN/Views/Template/Form/_Input.cshtml", new InputModel() { Type = "text", Id = "ADRESS_SPECIFIC", Class = "", Name = "model.ADRESS_SPECIFIC", LabelName = "Cart.Hamlet", Value = Model.Customer.ADRESS_SPECIFIC, IsRequied = true, Style = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="cardTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        @FunctionHelpers.GetValueLanguage("Product.Products")
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="cardTwo">
                                <div class="card-body">
                                    <div class="row form-group">
                                        <div class="col col-md-5">
                                            @if (Model.Table != null)
                                            {
                                                <!-- DATA TABLE -->
                                                @Html.Partial("~/Areas/ADMIN/Views/Template/_Table.cshtml", Model.Table)
                                                <!-- END DATA TABLE -->
                                            }
                                        </div>
                                        <div class="col col-md-7">
                                            <div class="table-data__tool">
                                                <div class="table-data__tool-left">
                                                    <button class="au-btn-filter button-border" onclick="updateCartAll()" type="button">
                                                        @FunctionHelpers.GetValueLanguage("Btn_UpdateAll")
                                                    </button>
                                                </div>

                                            </div>
                                            <div class="table-responsive table-responsive-data2">
                                                <table class="table table-data2">
                                                    <thead>
                                                        <tr>
                                                            <th>@FunctionHelpers.GetValueLanguage("Cart.Remove")</th>
                                                            <th>@FunctionHelpers.GetValueLanguage("Product.ProductName")</th>
                                                            <th>@FunctionHelpers.GetValueLanguage("Product.ProductColor")</th>
                                                            <th>@FunctionHelpers.GetValueLanguage("Product.Size")</th>
                                                            <th>@FunctionHelpers.GetValueLanguage("Product.ProductAmount")</th>
                                                            <th>@FunctionHelpers.GetValueLanguage("Product.ProductPrice")</th>
                                                            <th>@FunctionHelpers.GetValueLanguage("Product.Rate")</th>
                                                            <th>@FunctionHelpers.GetValueLanguage("Cart.IntoMoney")</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="body-cart">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="cardThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                       Trạng thái thanh toán
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="cardThree">
                                <div class="card-body">
                                    <div class="row form-group">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin:auto">
                        <center>
                            <button type="button" onclick="comeBackOrder()" class="btn btn-primary">
                                @FunctionHelpers.GetValueLanguage("Button.ComeBack")
                            </button>
                            @if (FunctionHelpers.CheckPermission("Order", "Update"))
                            {
                                <button type="button" onclick="saveProduct()" class="btn btn-success">
                                    @FunctionHelpers.GetValueLanguage("Button.Save")
                                </button>
                            }
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="@Url.Content("~/Scripts/Order/AdminOrder.js?v=" + timeVersion)" type="text/javascript"></script>
}
