@model S2Please.Areas.WEB_SHOP.ViewModel.OrderDetailViewModel
@using S2Please.Helper
@using System.Globalization

@{
    Layout = null;
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");   // try with "en-U
    float totalMoney = 0;
    long totalAmount = 0;
}

<div class="modal-header">
    <h5 class="modal-title">@FunctionHelpers.GetValueLanguage("OrderDetail.OrderDetail").ToUpper()</h5>
    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>*@
</div>
<div class="modal-body">
    <div class="form-group row">
        <div class="span12">
            <span>@FunctionHelpers.GetValueLanguage("OrderDetail.FullName"):</span> <span class="font-bold">@Model.Order.FULL_NAME</span><br>
            <span>@FunctionHelpers.GetValueLanguage("OrderDetail.Phone"):</span> <span class="font-bold">@Model.Order.PHONE</span><br>
            <span>@FunctionHelpers.GetValueLanguage("Authen.EmailAddress"):</span> <span class="font-bold">@Model.Order.EMAIL</span><br>
            <span>@FunctionHelpers.GetValueLanguage("Authen.Fax"):</span> <span class="font-bold">@Model.Order.FAX</span><br>
            <span>@FunctionHelpers.GetValueLanguage("Cart.YourAddress"):</span> <span class="font-bold">@(Model.Order.ADRESS_SPECIFIC + " - " + Model.Order.COMMUNITY_NAME + " - " +Model.Order.DISTRICT_NAME +" - " + Model.Order.CITY_NAME)</span><br>
        </div>
    </div>
    <div class="form-group">
        <table class="table table-striped table-responsive table-custom">
            <thead>
                <tr>
                    <th>@FunctionHelpers.GetValueLanguage("Product.ProductName")</th>
                    <th>@FunctionHelpers.GetValueLanguage("Product.GroupColor")</th>
                    <th>@FunctionHelpers.GetValueLanguage("Product.Size")</th>
                    <th>@FunctionHelpers.GetValueLanguage("Product.ProductAmount")</th>
                    <th>@FunctionHelpers.GetValueLanguage("Product.ProductPrice")</th>
                    <th>@FunctionHelpers.GetValueLanguage("Product.Rate")</th>
                    <th>@FunctionHelpers.GetValueLanguage("Cart.IntoMoney")</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.OrderDetails != null && Model.OrderDetails.Count() > 0)
                {
                    foreach (var item in Model.OrderDetails)
                    {
                            <tr>
                                <td>
                                    <span>@item.PRODUCT_NAME</span>

                                </td>
                                <td>

                                    <span>@item.COLOR</span>
                                </td>
                                <td>
                                    <span>@item.SIZE_NAME</span>
                                </td>
                                <td>
                                    <span>@item.AMOUNT</span>
                                </td>
                                <td>
                                    <span style="color:red">@item.PRICE.ToString("#,###", cul.NumberFormat) <span>₫</span></span> 
                                </td>
                                <td>
                                    <span>@(item.RATE.ToString() == "0" ? "0" : item.RATE.ToString()) %</span>
                                </td>
                                <td>
                                    @{
                                        float total = item.PRICE * item.AMOUNT;
                                        if (item.RATE != 0)
                                        {
                                            total = total - ((item.RATE / 100) * total);
                                        }
                                    }
                                    <span style="color:red">@total.ToString("#,###", cul.NumberFormat) <span>₫</span></span>
                                </td>
                            </tr>
                            totalMoney+=total;
                            totalAmount+=item.AMOUNT;
                      }
                      <tr>
                          <td colspan="7" style="text-align:right">
                              <span>@FunctionHelpers.GetValueLanguage("Cart.TotalAmount") : <strong>@totalAmount</strong></span><br />
                              <span>@FunctionHelpers.GetValueLanguage("Cart.ShipFee") : <strong style="color:red">@Model.Order.PRICE_FEE_SHIP.ToString("#,###", cul.NumberFormat)</strong> <span>₫</span></span><br />
                              @{
                                  float value = totalMoney + Model.Order.PRICE_FEE_SHIP;
                              }
                              <span>@FunctionHelpers.GetValueLanguage("Cart.TotalMoney") : <strong style="color:red">@value.ToString("#,###", cul.NumberFormat) <span>₫</span></strong></span>
                          </td>
                      </tr>
                }
            </tbody>
        </table>
    </div>
    
</div>
<div class="modal-footer">
    <button type="button" title="@FunctionHelpers.GetValueLanguage("Button.Title.Close")" class="btn btn-secondary" data-dismiss="modal">@FunctionHelpers.GetValueLanguage("Button.Title.Close")</button>
</div>