@model S2Please.Areas.ADMIN.ViewModel.LocalizadataViewModel
@using SHOP.COMMON
@using S2Please.ViewModel
@using S2Please.Helper
@{
    Layout = null;
    int index = 0;
}

@if (Model.Languages != null && Model.Languages.Count() > 0)
{
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="cardThree">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        @FunctionHelpers.GetValueLanguage("Language.MultiLanguage")
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="cardThree">
                <div class="card-body">

                    @foreach (var item in Model.Languages)
                    {
                        <div class="row form-group">
                            <div class="col-md-12">
                                <span>@item.LANGUAGE_NAME</span>
                            </div>
                        </div>
                        if (Model.MultipleLanguageConfigurations != null && Model.MultipleLanguageConfigurations.Count() > 0)
                        {
                            foreach (var muiltipleLanguage in Model.MultipleLanguageConfigurations)
                            {
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <input type="text" id="language_@index" name="localiza[@index].LANGUAGE_ID" value="@item.ID" hidden />
                                        <input type="text" id="language_@index" name="localiza[@index].DATA_TYPE" value="@Model.DATA_TYPE" hidden />
                                        <input type="text" id="language_@index" name="localiza[@index].DATA_ID" value="@Model.DATA_ID" hidden />
                                        <input type="text" id="language_@index" name="localiza[@index].PROPERTY_NAME" value="@muiltipleLanguage.PROPERTY_NAME" hidden />
                                        @if (muiltipleLanguage.TYPE == MuiltipleLanguageType.Input)
                                        {
                                            var value = string.Empty;
                                            if (Model.DATA_ID!=0 && Model.Localizations!=null && Model.Localizations.Count()>0)
                                            {
                                                var localizadata = Model.Localizations.Where(s => s.DATA_ID == Model.DATA_ID && s.LANGUAGE_ID == item.ID && s.DATA_TYPE.Trim() == Model.DATA_TYPE.Trim() && s.PROPERTY_NAME==muiltipleLanguage.PROPERTY_NAME).FirstOrDefault();
                                                if (localizadata!=null)
                                                {
                                                    value = localizadata.PROPERTY_VALUE;
                                                }

                                            }

                                            @Html.Partial("~/Areas/ADMIN/Views/Template/Form/_Input.cshtml", new InputModel() { Type = "text", Id = muiltipleLanguage.PROPERTY_NAME + "_" + index, Class = "", Name = "localiza[" + index + "].PROPERTY_VALUE", LabelNameLocalization = FunctionHelpers.GetValueLocalization(muiltipleLanguage.ID, DataType.TABLE_MULTIPLE_LANGUAGE_CONFIGURATION, PropertyName.Property_Name) + " - " + item.LANGUAGE_NAME, IsRequied = true,Value= value, Attribute = Model.Is_Save ? "" : "disabled" })
                                        }
                                    </div>                                   
                                </div>
                            }
                        }
                        index++;
                    }
                </div>
            </div>
        </div>
    </div>
}
