@model S2Please.Areas.ADMIN.ViewModel.PermissionViewModel
@using S2Please.Helper
@using SHOP.COMMON;
@using S2Please.ViewModel;
@{
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
    var timeVersion = FunctionHelpers.GetTimeVersion();
}


<title>@FunctionHelpers.GetValueLanguage("Title.PermissionRole")</title>
<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">@FunctionHelpers.GetValueLanguage("Title.PermissionRole")</h3>
                <div class="table-data__tool">
                    <div class="row col-md-12">
                        <div class="col-md-1">
                            <label style="line-height: 35px; font-weight: bold;">@FunctionHelpers.GetValueLanguage("PermissionRole.RoleLabeld")</label>
                        </div>
                        <div class="col-md-4">
                            @Html.Partial("~/Areas/ADMIN/Views/Template/Form/_Select.cshtml", new SelectModel() { Id = "ROLE", Name = "model.ROLE", Datas = Model.Roles, IsRequied = true, FieldId = "ID", FieldName = "NAME", IsShowTitle = true, DataType = DataType.ROLE, IsMultiLanguage = true, PropertyName = PropertyName.Name, DropdownParent = "" })
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="permission-role">
    <div class="row col-md-12" id="permission-role">

    </div>
</div>
@section scripts
{
    <script src="@Url.Content("~/Scripts/Permission/Permission.js?v=" + timeVersion)" type="text/javascript"></script>
}
