@model S2Please.Areas.WEB_SHOP.ViewModel.LoginViewModel
@using S2Please.Areas.WEB_SHOP.ViewModel;
@using S2Please.Helper
@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/WEB_SHOP/Views/Shared/_Layout.cshtml";
}

<style>
    .result-message{
        margin-bottom:0px !important;
    }
</style>
@section HeaderText
{
    @Html.Partial("~/Areas/WEB_SHOP/Views/Shared/_Header_Img.cshtml",new HeaderImgViewModel { Image="",KeyLanguage= "Authen.ChangePassword" })
}
@if (Model.Success && Model.Is_Confirm)
{
    if (Model.Success && Model.Code != null && Model.Email != null && Model.Is_ChangePass)
    {
        <section>
            <div class="alert alert-success alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>@FunctionHelpers.GetValueLanguage("Authen.ChangePassSucces")!</strong> @Model.Message
            </div>
            <div>
                <a href="/login">@FunctionHelpers.GetValueLanguage("Authen.Login")</a>
            </div>
        </section>
    }
    else
    {
        <section>
            <div class="alert alert-success alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>@FunctionHelpers.GetValueLanguage("Message.Success")!</strong> @Model.Message
            </div>
        </section>
    }

}
@if (Model.Code != null && Model.Is_Confirm && Model.Email != null && !Model.Success)
{
    if (!Model.Is_Expired)
    {
        <section class="main-content">
            <div class="row">
                <div class="span12">
                    <form action="@Url.Action("ForgotPassword", "Authen", new { Area = "WEB_SHOP" })" method="post" class="form-stacked" onsubmit="loadingBody.Show()">
                        <center>
                            <input class="hidden" name="CODE" value="@Model.Code" />    
                            <input class="hidden" name="IS_CONFIRM" value="@Model.Is_Confirm.ToString()" />                   
                        </center>
                        <fieldset>
                            
                            <div class="control-group">
                                <label class="control-label">@FunctionHelpers.GetValueLanguage("Authen.EmailAddress") <span class="requied-text">*</span> </label>
                                <div class="controls">
                                    <input type="email" name="EMAIL" value="@Model.Email" placeholder="@FunctionHelpers.GetValueLanguage("Authen.EnterEmail")" class="input-xlarge" readonly>
                                </div>
                               
                            </div>
                            <div class="control-group">
                                <label class="control-label">@FunctionHelpers.GetValueLanguage("Authen.NewPassWord") <span class="requied-text">*</span> </label>
                                <div class="controls">
                                    <input type="password" name="PASS_WORD" value="@Model.User.PASS_WORD" placeholder="@FunctionHelpers.GetValueLanguage("Authen.EnterPassWord")" class="input-xlarge">
                                </div>
                                @if (Model.IS_Error_Password_Required)
                                {
                                    <label class="control-label message-error">@FunctionHelpers.GetValueLanguage("Error.Required") @FunctionHelpers.GetValueLanguage("Authen.Password").ToLower() </label>
                                }
                                else if (Model.IS_Error_Password_Length )
                                {
                                    <label class="control-label message-error">@FunctionHelpers.GetValueLanguage("Error.Password_Length") @FunctionHelpers.GetValueLanguage("Authen.Password").ToLower() </label>
                                }
                            </div>
                            <div class="control-group">
                                <label class="control-label">@FunctionHelpers.GetValueLanguage("Authen.EnterAgainPassword") <span class="requied-text">*</span> </label>
                                <div class="controls">
                                    <input type="password" name="PASS_WORD_AGAIN" value="@Model.User.PASS_WORD_AGAIN" placeholder="@FunctionHelpers.GetValueLanguage("Authen.EnterAgainPassword")" class="input-xlarge">
                                </div>
                                @if (Model.IS_Error_Password_Required_Again)
                                {
                                    <label class="control-label message-error">@FunctionHelpers.GetValueLanguage("Error.Required") @FunctionHelpers.GetValueLanguage("Authen.Password").ToLower() </label>
                                }
                                else if (Model.IS_Error_Password_Not_Match_Again)
                                {
                                    <label class="control-label message-error">@FunctionHelpers.GetValueLanguage("Authen.Message.PasswordDoesNotMatch") </label>
                                }
                            </div>
                            <div class="control-group">
                                @*<p>Now that we know who you are. I'm not a mistake! In a comic, you know how you can tell who the arch-villain's going to be?</p>*@
                            </div>
                            <hr>
                            <div class="actions"><input tabindex="9" class="btn btn-inverse large" type="submit" value="@FunctionHelpers.GetValueLanguage("Button.Save")"></div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </section>
    }
    else
    {
        <section class="main-content">
            <p>@FunctionHelpers.GetValueLanguage("Email.IsExpired")</p><br />
            <a href="/ForgotPassword">@FunctionHelpers.GetValueLanguage("Authen.ForgottenPassword")</a>
        </section>
    }
}
else
{
    <section class="main-content">
        <div class="row">
            @if (!Model.Is_Confirm)
            {
                <div class="span12">
                    <form action="@Url.Action("ForgotPassword", "Authen", new { Area = "WEB_SHOP" })" method="post" class="form-stacked" onsubmit="loadingBody.Show()">
                        <center>
                            <div class="control-group">
                                <label class="control-label">@FunctionHelpers.GetValueLanguage("Authen.EmailAddress") <span class="requied-text">*</span> </label>
                                <input type="email" name="EMAIL" value="@Model.User.EMAIL" placeholder="@FunctionHelpers.GetValueLanguage("Authen.EnterEmail")" class="input-xlarge">
                                @if (Model.Is_Error_Email_Required)
                                {
                                    <label class="control-label message-error">@FunctionHelpers.GetValueLanguage("Error.Required") @FunctionHelpers.GetValueLanguage("Authen.EmailAddress").ToLower() </label>
                                }
                                else if (Model.IS_Error_Format_Email)
                                {
                                    <label class="control-label message-error">@FunctionHelpers.GetValueLanguage("Error.Format") @FunctionHelpers.GetValueLanguage("Authen.EmailAddress").ToLower() </label>
                                }
                            </div>
                            <hr>
                            <div class="actions"><input tabindex="9" class="btn btn-inverse large" type="submit" value="@FunctionHelpers.GetValueLanguage("Authen.Send")"></div>
                        </center>
                    </form>
                </div>
            }

        </div>
    </section>
}


<script>
    function removeMessage(html) {
        $('#result-message').remove();
    }
</script>