@using System.Globalization
@model S2Please.Areas.WEB_SHOP.ViewModel.OrderInformationViewModel
@using System.Web.Mvc.Html
@using S2Please.Areas.WEB_SHOP.ViewModel
@using S2Please.Models
@using System.Collections.Generic
@using S2Please.ParramType
@using S2Please.Helper

@{
    ViewBag.Title = FunctionHelpers.GetValueLanguage("Cart.OrderInformation");
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");   // try with "en-U
    float total = 0;
    float amount = 0;

}
<style>
    .content-cart{
        text-align:center;
    }
    .content-cart h3{
        color:red;
        margin:0px;
        margin-top:10px;
    }
    .content-cart i{
        cursor:pointer;
    }
</style>


@if (Model.Carts!=null && Model.Carts.Count()>0)
{
@section HeaderText
{
    @Html.Partial("~/Areas/WEB_SHOP/Views/Shared/_Header_Img.cshtml", new HeaderImgViewModel { Image = "", KeyLanguage = "Cart.OrderInformation" })
}
<section class="main-content">
    <div class="row">
        <form id="cart-form">
            <div class="span12">
                <h4 class="title"><span class="text"><strong>@FunctionHelpers.GetValueLanguage("OrderDetail.Order")</strong> </span></h4>               
                <table class="table table-striped">
                    <tr>
                        <td>@FunctionHelpers.GetValueLanguage("OrderDetail.OrderCode")</td>
                        <td>@Model.Order.ORDER_CODE</td>
                    </tr>
                    <tr>
                        <td>@FunctionHelpers.GetValueLanguage("OrderDetail.OrderStauts")</td>
                        <td>@Model.Order.STATUS_NAME</td>
                    </tr>
                    <tr>
                        <td>@FunctionHelpers.GetValueLanguage("OrderDetail.StautsPay")</td>
                        <td>@Model.Order.STATUS_PAY_NAME</td>
                    </tr>
                    <tr>
                        <td>@FunctionHelpers.GetValueLanguage("OrderDetail.MethodPay")</td>
                        <td>@Model.Order.METHOD_PAY_NAME</td>
                    </tr>
                    <tr>
                        <td>@FunctionHelpers.GetValueLanguage("OrderDetail.FeeShip")</td>
                        <td>@Model.Order.FEE_SHIP_NAME</td>
                    </tr>
                    @if (Model.Order.DECRIPTION != null)
                    {
                        <tr>
                            <td>@FunctionHelpers.GetValueLanguage("OrderDetail.Note")</td>
                            <td>@Model.Order.DECRIPTION</td>
                        </tr>
                    }
                </table>
            </div>

            <div class="span12">
                <h4 class="title"><span class="text"><strong>@FunctionHelpers.GetValueLanguage("OrderDetail.Customer")</strong> </span></h4>
                <table class="table table-striped">
                    <tr>
                        <td>@FunctionHelpers.GetValueLanguage("OrderDetail.FullName")</td>
                        <td>@Model.Order.FULL_NAME</td>
                    </tr>
                    <tr>
                        <td>@FunctionHelpers.GetValueLanguage("OrderDetail.Phone")</td>
                        <td>@Model.Order.PHONE</td>
                    </tr>
                    <tr>
                        <td>@FunctionHelpers.GetValueLanguage("OrderDetail.Email")</td>
                        <td>@Model.Order.EMAIL</td>
                    </tr>
                    <tr>
                        <td>@FunctionHelpers.GetValueLanguage("Cart.City")</td>
                        <td>@Model.Order.CITY_NAME</td>
                    </tr>
                    <tr>
                        <td>@FunctionHelpers.GetValueLanguage("Cart.District")</td>
                        <td>@Model.Order.DISTRICT_NAME</td>
                    </tr>
                    <tr>
                        <td>@FunctionHelpers.GetValueLanguage("Cart.Community")</td>
                        <td>@Model.Order.COMMUNITY_NAME</td>
                    </tr>
                    <tr>
                        <td>@FunctionHelpers.GetValueLanguage("Cart.Hamlet")</td>
                        <td>@Model.Order.ADRESS_SPECIFIC</td>
                    </tr>
                    <tr>
                        <td>@FunctionHelpers.GetValueLanguage("OrderDetail.FAX")</td>
                        <td>@Model.Order.FAX</td>
                    </tr>
                </table>
            </div>

            <div class="span12">
                <h4 class="title"><span class="text"><strong>@FunctionHelpers.GetValueLanguage("OrderDetail.OrderDetail")</strong> </span></h4>
               <table class="table table-striped table-responsive table-custom">
                        <thead>
                            <tr>
                                <th>@FunctionHelpers.GetValueLanguage("Cart.Image")</th>
                                <th>@FunctionHelpers.GetValueLanguage("Cart.ProductName")</th>
                                <th>@FunctionHelpers.GetValueLanguage("Cart.Amount")</th>
                                <th>@FunctionHelpers.GetValueLanguage("Cart.Price")</th>
                                <th>@FunctionHelpers.GetValueLanguage("Cart.IntoMoney")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Carts)
                            {                               
                                <tr>                                   
                                    <td>
                                        
                                        <a href="/Product-Detail/@FunctionHelpers.Encrypt(item.PRODUCT_ID.ToString(),FunctionHelpers.KeyEncrypt)">
                                            <img src="~/Image/@item.ProductColorSizeMapper.IMG" alt="" style="width:50px;"/>
                                        </a>
                                    </td>
                                    <td>
                                        @item.NAME <br />
                                        @FunctionHelpers.GetValueLanguage("Product.GroupColor"):@item.ProductColorSizeMapper.COLOR<br />
                                        @FunctionHelpers.GetValueLanguage("Product.Size"): @item.ProductColorSizeMapper.SIZE_NAME <br />
                                    </td>
                                    <td>
                                        @item.AMOUNT
                                    </td>
                                    <td>
                                        @{
                                            float pricerat = item.ProductColorSizeMapper.PRICE;
                                            if (item.ProductColorSizeMapper.DISCOUNT_RATE > 0)
                                            {
                                                pricerat = item.ProductColorSizeMapper.PRICE - (item.ProductColorSizeMapper.PRICE) * (float.Parse(item.ProductColorSizeMapper.DISCOUNT_RATE.ToString()) / 100);
                                            }
                                        }
                                        <strong>@pricerat.ToString("#,###", cul.NumberFormat)</strong> <span style="color:red">₫</span>
                                        @if (item.ProductColorSizeMapper.DISCOUNT_RATE > 0)
                                        {
                                            var lineThrough = "text-decoration: line-through";
                                            string rate = item.ProductColorSizeMapper.DISCOUNT_RATE.ToString() + "%";
                                            <p class="price" style="font-size:12px;font-size:15px;padding:0;">
                                                <span style="@lineThrough"><strong>@item.ProductColorSizeMapper.PRICE.ToString("#,###", cul.NumberFormat)</strong> <span style="color:red">₫</span></span>
                                                <span>-@rate</span>
                                            </p>
                                           
                                        }
                                      
                                    </td>
                                    <td>
                                        @{
                                            float intoMoney = pricerat * item.AMOUNT;
                                        }
                                        <strong>@intoMoney.ToString("#,###", cul.NumberFormat) </strong> <span style="color:red">₫</span>
                                    </td>
                                </tr>
                               total += intoMoney;
                               amount += int.Parse(item.AMOUNT.ToString());
                                           
                              }
                          
                        </tbody>
                    </table>
                    @{ 
                        var data = Model.ShipFees.Where(s => s.ID == Model.Order.FEE_SHIP).ToList().FirstOrDefault();
                        total += data.PRICE;
                    }
                    <div class="pull-right">
                        @FunctionHelpers.GetValueLanguage("Cart.TotalAmount"): <strong>@amount</strong><br />
                        @FunctionHelpers.GetValueLanguage("Cart.ShipFee"): <strong id="fee-ship">@data.PRICE.ToString("#,###", cul.NumberFormat) </strong> <span style="color:red"> ₫</span><br />
                        @FunctionHelpers.GetValueLanguage("Cart.TotalMoney"): <strong id="total">@total.ToString("#,###", cul.NumberFormat)</strong> <span style="color:red"> ₫</span>
                    </div>
            </div>
        </form>
    </div>
</section>
}
else{

    <section class="main-content">
        <div class="row">
            <div class="span12">
                <div class="content-cart">
                    <h3>@FunctionHelpers.GetValueLanguage("OrderDetail.OrderNoOrder")</h3><br />
                    <a href="/home-page"><i class="fas fa-cart-plus" style="font-size: 111px;"></i></a>
                </div>         
            </div>
        </div>
    </section>
}



