@model S2Please.ViewModel.OrderInformationViewModel
@using System.Globalization
@using SHOP.COMMON
@using S2Please.Helper

@{
    Layout = null;
    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");   // try with "en-U
    float total = 0;
    float amount = 0;

}
<style>
</style>
<section class="main-content" style="width:100%">
    <div class="row">
        <form id="cart-form">

            <div class="span12">
                @if (Model.Order.STATUS == StatusOrder.Pending)
                {
                    <p>@FunctionHelpers.GetValueLanguage("Email.Message")</p>
                }
                else if (Model.Order.STATUS == StatusOrder.NoApproval)
                {
                    <p>@FunctionHelpers.GetValueLanguage("Email.MessageNoApproval")</p>
                }
                else if (Model.Order.STATUS == StatusOrder.Sending)
                {
                    <p>@Html.Raw(string.Format(FunctionHelpers.GetValueLanguage("Email.MessageSending"),Model.Order.ORDER_CODE))</p>
                }
                <p><a href="http://s2please.net/">@FunctionHelpers.GetValueLanguage("Email.Continue")</a></p>
            </div>

            <div class="span12">
                <h4 class="title"><span class="text"><strong>@FunctionHelpers.GetValueLanguage("OrderDetail.Order")</strong> </span></h4>
                <table class="table table-striped" border="1" style="width:100%">
                    <tr>
                        <td style=""><span style="margin-left:10px">@FunctionHelpers.GetValueLanguage("OrderDetail.OrderCode")</span></td>
                        <td>
                            <span style="margin-left:10px;color:blue">@Model.Order.ORDER_CODE</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="margin-left:10px">@FunctionHelpers.GetValueLanguage("OrderDetail.OrderStauts")</span>
                        </td>
                        <td>
                            <span style="margin-left:10px;color:red">@Model.Order.STATUS_NAME</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="margin-left:10px">@FunctionHelpers.GetValueLanguage("OrderDetail.StautsPay")</span>
                        </td>
                        <td>
                            <span style="margin-left:10px;color:red">@Model.Order.STATUS_PAY_NAME</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="margin-left:10px">@FunctionHelpers.GetValueLanguage("OrderDetail.MethodPay")</span>
                        </td>
                        <td>
                            <span style="margin-left:10px">@Model.Order.METHOD_PAY_NAME</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="margin-left:10px">@FunctionHelpers.GetValueLanguage("OrderDetail.FeeShip")</span>
                        </td>
                        <td>
                            <span style="margin-left:10px;color:red">
                                @{
                                    float feeShip = 0;
                                    if (Model.Order.PRICE_FEE_SHIP != 0)
                                    {
                                        feeShip = Model.Order.PRICE_FEE_SHIP;
                                    }
                                }
                                @feeShip.ToString("#,###", cul.NumberFormat) ₫
                            </span>
                        </td>
                    </tr>
                    @if (Model.Order.DECRIPTION != null)
                    {
                        <tr>
                            <td>
                                <span style="margin-left:10px">@FunctionHelpers.GetValueLanguage("OrderDetail.Note")</span>
                            </td>
                            <td>
                                <span style="margin-left:10px">@Model.Order.DECRIPTION</span>
                            </td>
                        </tr>
                    }
                </table>
            </div>

            <div class="span12">
                <h4 class="title"><span class="text"><strong>@FunctionHelpers.GetValueLanguage("OrderDetail.Customer")</strong> </span></h4>
                <table class="table table-striped" border="1" style="width:100%">
                    <tr>
                        <td>
                            <span style="margin-left:10px">@FunctionHelpers.GetValueLanguage("OrderDetail.FullName")</span>
                        </td>
                        <td>
                            <span style="margin-left:10px">@Model.Order.FULL_NAME</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="margin-left:10px">@FunctionHelpers.GetValueLanguage("OrderDetail.Phone")</span>
                        </td>
                        <td>
                            <a href="@Model.Order.PHONE"><span style="margin-left:10px">@Model.Order.PHONE</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="margin-left:10px">@FunctionHelpers.GetValueLanguage("OrderDetail.Email")</span>
                        </td>
                        <td>
                            <a href="@Model.Order.EMAIL"><span style="margin-left:10px">@Model.Order.EMAIL</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="margin-left:10px">@FunctionHelpers.GetValueLanguage("Cart.City")</span>
                        </td>
                        <td>
                            <span style="margin-left:10px">@Model.Order.CITY_NAME</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="margin-left:10px">@FunctionHelpers.GetValueLanguage("Cart.District")</span>
                        </td>
                        <td>
                            <span style="margin-left:10px">@Model.Order.DISTRICT_NAME</span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <span style="margin-left:10px">@FunctionHelpers.GetValueLanguage("Cart.Community")</span>
                        </td>
                        <td>
                            <span style="margin-left:10px">@Model.Order.COMMUNITY_NAME</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="margin-left:10px">@FunctionHelpers.GetValueLanguage("Cart.Hamlet")</span>
                        </td>
                        <td>
                            <span style="margin-left:10px">@Model.Order.ADRESS_SPECIFIC</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="margin-left:10px">@FunctionHelpers.GetValueLanguage("OrderDetail.Fax")</span>
                        </td>
                        <td>
                            <span style="margin-left:10px">@Model.Order.FAX</span>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="span12">
                <h4 class="title"><span class="text"><strong>@FunctionHelpers.GetValueLanguage("OrderDetail.OrderDetail")</strong> </span></h4>
                <table class="table table-striped" border="1" style="width:100%">
                    <thead>
                        <tr>
                            <th>@FunctionHelpers.GetValueLanguage("Cart.Image")</th>
                            <th>@FunctionHelpers.GetValueLanguage("Cart.ProductName")</th>
                            <th>@FunctionHelpers.GetValueLanguage("Cart.Amount")</th>
                            <th>@FunctionHelpers.GetValueLanguage("Cart.Price")</th>
                            <th>@FunctionHelpers.GetValueLanguage("Cart.IntoMoney")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Carts)
                        {
                            <tr>
                                <td style="text-align: center;">
                                    @{
                                        var toDecrypt = string.Empty;
                                        toDecrypt = FunctionHelpers.Encrypt(item.PRODUCT_ID.ToString(), FunctionHelpers.KeyEncrypt);
                                    }
                                    <a href="http://s2please.net//Product-Detail/@toDecrypt">
                                        <img src="http://s2please.net//Image/@item.ProductColorSizeMapper.IMG" alt="" style="width:50px;" />
                                    </a>
                                </td>
                                <td>
                                    <span style="margin-left:10px">@item.NAME </span><br />
                                    <span style="margin-left:10px">@FunctionHelpers.GetValueLanguage("Product.GroupColor"):@item.ProductColorSizeMapper.COLOR</span><br />
                                    <span style="margin-left:10px">@FunctionHelpers.GetValueLanguage("Product.Size"): @item.ProductColorSizeMapper.SIZE_NAME</span>
                                </td>
                                <td style="text-align:center">
                                    @item.AMOUNT
                                </td>
                                <td style="text-align:center">
                                    @{
                                        float pricerat = item.ProductColorSizeMapper.PRICE;
                                        if (item.ProductColorSizeMapper.DISCOUNT_RATE > 0)
                                        {
                                            pricerat = item.ProductColorSizeMapper.PRICE - (item.ProductColorSizeMapper.PRICE) * (float.Parse(item.ProductColorSizeMapper.DISCOUNT_RATE.ToString()) / 100);
                                        }
                                    }
                                    <strong style="color:red">@pricerat.ToString("#,###", cul.NumberFormat)</strong> <span style="color:red">₫</span>
                                    @if (item.ProductColorSizeMapper.DISCOUNT_RATE > 0)
                                    {
                                        var lineThrough = "text-decoration: line-through";
                                        string rate = item.ProductColorSizeMapper.DISCOUNT_RATE.ToString() + "%";
                                        <p class="price">
                                            <span style="@lineThrough"><strong style="color:red">@item.ProductColorSizeMapper.PRICE.ToString("#,###", cul.NumberFormat)</strong> <span style="color:red">₫</span></span>
                                            <span>-@rate</span>
                                        </p>

                                    }

                                </td>
                                <td style="text-align:center">
                                    @{
                                        float intoMoney = pricerat * item.AMOUNT;
                                    }
                                    <strong style="color:red">@intoMoney.ToString("#,###", cul.NumberFormat) </strong> <span style="color:red">₫</span>
                                </td>
                            </tr>
                            total += intoMoney;
                            amount += int.Parse(item.AMOUNT.ToString());

                        }

                    </tbody>
                </table>
                @{
                    var data = Model.ShipFees.Where(s => s.ID == Model.Order.FEE_SHIP).ToList().FirstOrDefault();
                    if (data != null)
                    {
                        total += data.PRICE;

                    }
                }
                <div class="pull-right" style="margin-top:10px">
                    @FunctionHelpers.GetValueLanguage("Cart.TotalAmount"): <strong>@amount</strong><br />
                    @if (true)
                    {
                        /**/
                    }
                    @FunctionHelpers.GetValueLanguage("Cart.ShipFee"):
                    <strong id="fee-ship" style="color:red">
                        @if (data.PRICE != 0)
                        {
                            @data.PRICE.ToString("#,###", cul.NumberFormat)
                        }
                        else
                        {
                            @data.PRICE
                        }
                    </strong> <span style="color:red"> ₫</span><br />
                    @FunctionHelpers.GetValueLanguage("Cart.TotalMoney"): <strong id="total" style="color:red">@total.ToString("#,###", cul.NumberFormat)</strong> <span style="color:red"> ₫</span>
                </div>
            </div>


        </form>
    </div>
</section>

